<section class="boardInfo">
  <div class="container">
    <ul class="boardInfo__desk">
      <li class="boardInfo__list">
        <div class="boardInfo__newsletter">
          <h4 class="h1">Přihlaste se k odběru newsletteru</h4>
          <form action="" class="boardInfo__form">
            <input
              class="boardInfo__form-name"
              type="text"
              placeholder="Jméno a Příjmení"
            />
            <input
              class="boardInfo__form-email"
              type="email"
              placeholder="e-mail"
            />
            <div class="form-check">
              <input type="checkbox" id="companyCheckbox" />
              <label for="companyCheckbox">
                <span
                  >Chci být v obraze, dostávat ty nejaktuálnější novinky a tak
                  souhlasím se zpracováním osobních údajů pro tyto účely
                </span>
              </label>
            </div>
            <button class="btn">ODEBÍRAT NEWSLETTER</button>
          </form>
        </div>
      </li>
      <li class="boardInfo__list">
        <div class="boardInfo__news">
          <h3 class="h1">Novinky</h3>
          <p class="p3">
            Slávistky v přípravě zdolaly polské mistryně, Sparta remizovala s
            rakouskými
          </p>
          <div class="date">4. 8. 2024</div>
          <p class="p4">
            V přípravném utkání mistryň Česka a Polska se radovaly slávistky,
            které porazily Pogoň Štětín 3:0. Sparta remizovala se St. Pöltenem,
            Lokomotiva Brno porazila bratislavský Slovan a Slovácko těsně
            prohrálo.
          </p>
          <img src="images/content/article.png" alt="post" loading="lazy" />
          <a href="#" class="btn">VŠECHNY NOVINKY</a>
        </div>
      </li>
    </ul>
  </div>
</section>
