<section class="matchDetail topSection">
  <div class="container">
    <div class="matchDetail__inner">
      <div class="matchDetail__date">
        17. 8. 2024 11:00, 1.kolo, <a href="#">1.liga žen</a>
      </div>
      <div class="matchesItem">
        <div class="matchesItem__inner">
          <div class="matchesItem__team">
            <div class="matchesItem__team-logo">
              <img src="images/content/club-3.jpg" loading="lazy" alt="logo" />
            </div>
            <div class="matchesItem__team-name fw-bold">
              Lokomotiva Brno H. H.
            </div>
          </div>
          <div class="matchesItem__result">3:1</div>
          <div class="matchesItem__team">
            <div class="matchesItem__team-name fw-bold">1.FC Slovácko</div>

            <div class="matchesItem__team-logo">
              <img src="images/content/club-5.jpg" loading="lazy" alt="logo" />
            </div>
          </div>
        </div>
        <div class="matchesItem__footer">
          <span>Sledujte živě na </span>
          <a href="#" target="_blank">
            <img src="images/ico/osport.svg" alt="tv"
          /></a>
        </div>
      </div>
      <ul class="matchDetail__list">
        <li><strong> Číslo utkání:</strong> 2024005J1A0103.</li>
        <li>
          <strong> Rozhodčí:</strong> Hausnerová Monika – Koryčanská Ilona,
          Fraňková Kateřina.
        </li>

        <li><strong> Delegát:</strong> Bábíček Josef.</li>
        <li><strong> Hřiště:</strong> Brno, H.Heršpice - tráva.</li>
      </ul>

      <div class="row g-5">
        <div class="col-xl-6">
          <div class="matchDetail__stats">
            <h2 class="h5">Lokomotiva Brno H. H.</h2>
            <table>
              <tbody>
                <tr>
                  <td>#</td>
                  <td>P</td>
                  <td>Jméno</td>
                  <td>ŽK</td>
                  <td>ČK</td>
                  <td>{% include "@images/change.svg" %}</td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>P</td>
                  <td>Náhradníci</td>
                  <td>ŽK</td>
                  <td>ČK</td>
                  <td>{% include "@images/change.svg" %}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="matchDetail__stats">
            <h2 class="h5">1.FC Slovácko</h2>

            <table>
              <tbody>
                <tr>
                  <td>#</td>
                  <td>P</td>
                  <td>Jméno</td>
                  <td>ŽK</td>
                  <td>ČK</td>
                  <td>{% include "@images/change.svg" %}</td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>P</td>
                  <td>Náhradníci</td>
                  <td>ŽK</td>
                  <td>ČK</td>
                  <td>{% include "@images/change.svg" %}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="matches-section">
  <div class="container">
    <div class="matches-section__inner">
      <h2 class="h1 text-center">Další zápasy kola</h2>

      <div class="matches-section__slider">
        <div class="matches-section__slide">
          <div class="matches-section__round">1. kolo</div>
          <div class="matches-section__slide-content">
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-3.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-5.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-1.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-2.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-1.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-5.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-6.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-3.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="matches-section__slide">
          <div class="matches-section__round">1. kolo</div>
          <div class="matches-section__slide-content">
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-3.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-5.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-5.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-6.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-2.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-3.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="matchesItem">
              <div class="matchesItem__date">Neděle 4. 8. 2024 17:00</div>
              <div class="matchesItem__inner">
                <div class="matchesItem__team">
                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-1.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="matchesItem__team-name">
                    Lokomotiva Brno H. H.
                  </div>
                </div>
                <a href="#" class="matchesItem__result">-:-</a>
                <div class="matchesItem__team">
                  <div class="matchesItem__team-name">1.FC Slovácko</div>

                  <div class="matchesItem__team-logo">
                    <img
                      src="images/content/club-4.jpg"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="btn matches-section__link">VŠECHNY ZÁPASY</a>
    </div>

    <a href="#" class="banWidth" target="_blank">
      <img src="images/content/banwidth.png" loading="lazy" alt="ban" />
    </a>
  </div>
</section>
