<section class="article-section">
  <div class="article-section__img">
    <img src="images/content/article.png" loading="lazy" alt="article" />
  </div>
  <div class="container">
    <div class="article-section__info">
      <div class="date">4. 8. 2024</div>
      <h1 class="h1">
        Nadpis Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor
      </h1>
    </div>
    <div class="row g-5">
      <div class="col-xxl-9">
        <div class="article-section__content">
          <div class="o-content">
            <div class="perex">
              Perex Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt.
            </div>
            <div class="perex">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt.
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <img
              src="images/content/article.png"
              loading="lazy"
              alt="article"
            />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <h3>Složka dokumentů</h3>
            <div class="article-section__box">
              <ul class="article-section__docs">
                <li>
                  <img src="images/ico/pdf.svg" alt="pdf" />
                  <div>
                    <a href="/document/136110.pdf" download target="_blank"
                      >Přehled navýšení odměn rozhodčích 2024</a
                    >
                    <div class="date">
                      18. 7. 2024
                      <span> | </span>
                      325 kB
                    </div>
                  </div>
                </li>
                <li>
                  <img src="images/ico/exel.svg" alt="pdf" />
                  <div>
                    <a href="/document/136110.pdf" download target="_blank"
                      >Příloha řádu rozhodčích a delegátů sazebník odměn od 17.
                      7. 2024</a
                    >
                    <div class="date">
                      18. 7. 2024
                      <span> | </span>
                      325 kB
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          {% include "@components/gallery/gallery.twig" %}
        </div>
      </div>
      <div class="col-xxl-3">
        <aside class="aside">
          <div class="aside__ban">
            <img src="images/content/aside.png" loading="lazy" alt="aside" />
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
