<section class="about-section topSection">
  <div class="container">
    <div class="about-section__wrapper">
      <div class="topSection__inner">
        <div class="topSection__content">
          <div class="o-content">
            <h1 class="mb-lg-5 mb-3">O soutěži</h1>
            <div class="perex">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt.
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="topSection__img">
          <img src="images/content/about.png" loading="lazy" alt="about" />
        </div>
      </div>
      <a href="#" class="banWidth" target="_blank">
        <img src="images/content/banwidth.png" loading="lazy" alt="ban" />
      </a>

      <div class="about-section__table">
        <h2 class="h1 text-center">Předchozí vítězové</h2>
        <table>
          <tbody>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>C Sparta Praha</td>
            </tr>
            <tr>
              <td>2023 / 2024</td>
              <td>SK Slavia Praha</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
