.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  .perex {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px !important;
    }
  }
  blockquote {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 40px;
    margin: 40px auto;
    font-style: italic;
    width: 100%;
    border-top: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
    @include media-breakpoint-down(lg) {
      margin: 24px auto;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 18px;
    }
    @include media-breakpoint-down(md) {
      padding: 24px 16px;
    }
  }
  ul {
    color: var(--color-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    margin: 32px 0;
    > li {
      position: relative;
      padding-left: 18px;
      margin-bottom: 8px;
      &::before {
        content: "";
        background-color: var(--color-yellow);
        position: absolute;
        top: 10px;
        left: 0;
        width: 6px;
        height: 6px;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
    a {
      display: block;
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: inherit;
      }
    }
    .active {
      font-weight: 700;
    }
  }
  h3 {
    margin-top: 2.5rem;
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
    @include media-breakpoint-down(lg) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  img {
    margin: 80px auto;
    width: 100%;
    @include media-breakpoint-down(lg) {
      margin: 24px auto;
    }
  }
}

.h1,
.o-content h1 {
  font-size: 60px;
  line-height: 72px;
  margin-top: 0;
  @include media-breakpoint-down(lg) {
    font-size: 25px;
    line-height: 31px;
  }
}
.h2,
.o-content h2 {
  font-size: 40px;
  line-height: 100%;
  @include media-breakpoint-down(lg) {
    font-size: 22px;
  }
}
.h3,
.o-content h3 {
  font-size: 32px;
  line-height: 100%;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
}
.h4,
.o-content h4 {
  font-size: 24px;
  line-height: 100%;
  @include media-breakpoint-down(lg) {
    font-size: 18px;
  }
}
.perex {
  font-size: 30px;
  line-height: 35px;
  @include media-breakpoint-down(lg) {
    font-size: 18px;
    line-height: 24px;
  }
}

.p1 {
  font-size: 30px;
  line-height: 35px;
  @include media-breakpoint-down(lg) {
    font-size: 18px;
    line-height: 24px;
  }
}

.p3 {
  font-size: 20px;
  line-height: 30px;
}
.p4 {
  font-size: 15px;
  line-height: 19px;
}
