<section class="table-section topSection">
  <div class="container">
    <div class="table-section__inner">
      <h1 class="h1">Celková</h1>

      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="order">
                <abbr
                  data-toggle="tooltip"
                  data-placement="top"
                  data-title="Pořadí"
                  title="Pořadí"
                >
                  #
                </abbr>
              </th>

              <th class="team">
                <abbr
                  data-toggle="tooltip"
                  data-placement="top"
                  data-title="Tým"
                  title="Tým"
                >
                  Tým
                </abbr>
              </th>

              <th class="number">
                <a class="" href="?type=&order=3&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Odehrané zápasy"
                    title="Odehrané zápasy"
                  >
                    Z
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=4&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Výhry"
                    title="Výhry"
                  >
                    V
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=5&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Remízy"
                    title="Remízy"
                  >
                    R
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=6&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Prohry"
                    title="Prohry"
                  >
                    P
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=7&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Vstřelené branky"
                    title="Vstřelené branky"
                  >
                    G+
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=8&order_direction=1">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Inkasované branky"
                    title="Inkasované branky"
                  >
                    G-
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=9&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Rozdíl skóre"
                    title="Rozdíl skóre"
                  >
                    RG
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="  " href="?type=&order=10&order_direction=1">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Body"
                    title="Body"
                  >
                    B
                  </abbr>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Slavia
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">9</td>

              <td class="number">2</td>

              <td class="number">7</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>2.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Liberec
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>3.</td>

              <td>
                <img src="images/content/opava.png" alt="klub" loading="lazy" />
                Sparta
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>4.</td>

              <td>
                <img src="images/content/opava.png" alt="klub" loading="lazy" />
                Slovácko
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>5.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Lokomotiva
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number">-4</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>6.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Pardubice
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">-5</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>7.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                FC Praha
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">-5</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>8.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Plzeň
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">2</td>

              <td class="number">9</td>

              <td class="number">-7</td>

              <td class="number fw-bold">0</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h1 class="h1">Doma</h1>

      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="order">
                <abbr
                  data-toggle="tooltip"
                  data-placement="top"
                  data-title="Pořadí"
                  title="Pořadí"
                >
                  #
                </abbr>
              </th>

              <th class="team">
                <abbr
                  data-toggle="tooltip"
                  data-placement="top"
                  data-title="Tým"
                  title="Tým"
                >
                  Tým
                </abbr>
              </th>

              <th class="number">
                <a class="" href="?type=&order=3&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Odehrané zápasy"
                    title="Odehrané zápasy"
                  >
                    Z
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=4&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Výhry"
                    title="Výhry"
                  >
                    V
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=5&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Remízy"
                    title="Remízy"
                  >
                    R
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=6&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Prohry"
                    title="Prohry"
                  >
                    P
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=7&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Vstřelené branky"
                    title="Vstřelené branky"
                  >
                    G+
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=8&order_direction=1">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Inkasované branky"
                    title="Inkasované branky"
                  >
                    G-
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=9&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Rozdíl skóre"
                    title="Rozdíl skóre"
                  >
                    RG
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="  " href="?type=&order=10&order_direction=1">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Body"
                    title="Body"
                  >
                    B
                  </abbr>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Slavia
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">9</td>

              <td class="number">2</td>

              <td class="number">7</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>2.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Liberec
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>3.</td>

              <td>
                <img src="images/content/opava.png" alt="klub" loading="lazy" />
                Sparta
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>4.</td>

              <td>
                <img src="images/content/opava.png" alt="klub" loading="lazy" />
                Slovácko
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>5.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Lokomotiva
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number">-4</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>6.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Pardubice
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">-5</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>7.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                FC Praha
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">-5</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>8.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Plzeň
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">2</td>

              <td class="number">9</td>

              <td class="number">-7</td>

              <td class="number fw-bold">0</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h1 class="h1">Venku</h1>

      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="order">
                <abbr
                  data-toggle="tooltip"
                  data-placement="top"
                  data-title="Pořadí"
                  title="Pořadí"
                >
                  #
                </abbr>
              </th>

              <th class="team">
                <abbr
                  data-toggle="tooltip"
                  data-placement="top"
                  data-title="Tým"
                  title="Tým"
                >
                  Tým
                </abbr>
              </th>

              <th class="number">
                <a class="" href="?type=&order=3&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Odehrané zápasy"
                    title="Odehrané zápasy"
                  >
                    Z
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=4&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Výhry"
                    title="Výhry"
                  >
                    V
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=5&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Remízy"
                    title="Remízy"
                  >
                    R
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=6&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Prohry"
                    title="Prohry"
                  >
                    P
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=7&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Vstřelené branky"
                    title="Vstřelené branky"
                  >
                    G+
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=8&order_direction=1">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Inkasované branky"
                    title="Inkasované branky"
                  >
                    G-
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="" href="?type=&order=9&order_direction=2">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Rozdíl skóre"
                    title="Rozdíl skóre"
                  >
                    RG
                  </abbr>
                </a>
              </th>

              <th class="number">
                <a class="  " href="?type=&order=10&order_direction=1">
                  <abbr
                    data-toggle="tooltip"
                    data-placement="top"
                    data-title="Body"
                    title="Body"
                  >
                    B
                  </abbr>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Slavia
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">9</td>

              <td class="number">2</td>

              <td class="number">7</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>2.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Liberec
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>3.</td>

              <td>
                <img src="images/content/opava.png" alt="klub" loading="lazy" />
                Sparta
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>4.</td>

              <td>
                <img src="images/content/opava.png" alt="klub" loading="lazy" />
                Slovácko
              </td>

              <td class="number">1</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number fw-bold">3</td>
            </tr>
            <tr>
              <td>5.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Lokomotiva
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">4</td>

              <td class="number">-4</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>6.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Pardubice
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">-5</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>7.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                FC Praha
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">5</td>

              <td class="number">-5</td>

              <td class="number fw-bold">0</td>
            </tr>
            <tr>
              <td>8.</td>

              <td>
                <img
                  src="images/content/liberec.png"
                  alt="klub"
                  loading="lazy"
                />
                Plzeň
              </td>

              <td class="number">1</td>

              <td class="number">0</td>

              <td class="number">0</td>

              <td class="number">1</td>

              <td class="number">2</td>

              <td class="number">9</td>

              <td class="number">-7</td>

              <td class="number fw-bold">0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
