.table-section {
  &__info {
    display: flex;
    align-items: center;
    margin: 0 !important;
    li {
      position: relative;
      margin-bottom: 0 !important;
      &::before {
        display: none;
      }
    }
    li + li {
      padding-left: 10px;
      margin-left: 10px;
      &::after {
        content: "|";
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &__inner {
    margin-bottom: 140px;
    max-width: 1100px;
    margin-inline: auto;
    @include media-breakpoint-down(xxl) {
      margin-bottom: 60px;
    }
    .h2 {
      text-align: center;
      margin-bottom: 40px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
        text-align: left;
      }
    }
   
  }
}
