<section class="table-section topSection">
  <div class="container">
    <div class="table-section__inner">
      <h1 class="h1">Celkem</h1>
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Klub</th>
              <th>Z</th>
              <th>V</th>
              <th>R</th>
              <th>P</th>
              <th>Skóre</th>
              <th>B</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="table-section__inner">
      <h2 class="h1">Domů</h2>
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Klub</th>
              <th>Z</th>
              <th>V</th>
              <th>R</th>
              <th>P</th>
              <th>Skóre</th>
              <th>B</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="table-section__inner">
      <h3 class="h1">Venku</h3>
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Klub</th>
              <th>Z</th>
              <th>V</th>
              <th>R</th>
              <th>P</th>
              <th>Skóre</th>
              <th>B</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>1.</td>
              <td><a href="#">AC Sparta Praha fotbal a.s.</a></td>
              <td>3</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>8:2</td>
              <td>9</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
