<section class="archive-section topSection">
  <div class="container">
    <h1 class="mb-lg-5 mb-3 h1">Novinky a aktuality</h1>
    <div class="archive-section__wrapper">
      <div class="topSection__inner">
        <div class="topSection__content">
          <div class="o-content">
            <a href="#" class="perex">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt.
              <div class="date mt-2">4. 8. 2024</div>
            </a>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="topSection__img">
          <img src="images/content/about.png" loading="lazy" alt="about" />
        </div>
      </div>
      <div class="topSection__inner">
        <div class="topSection__content">
          <div class="o-content">
            <a href="#" class="perex">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt.
              <div class="date mt-2">4. 8. 2024</div>
            </a>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="topSection__img">
          <img src="images/content/about.png" loading="lazy" alt="about" />
        </div>
      </div>
      <div class="topSection__inner">
        <div class="topSection__content">
          <div class="o-content">
            <a href="#" class="perex">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt.
              <div class="date mt-2">4. 8. 2024</div>
            </a>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="topSection__img">
          <img src="images/content/about.png" loading="lazy" alt="about" />
        </div>
      </div>
      <div class="topSection__inner">
        <div class="topSection__content">
          <div class="o-content">
            <a href="#" class="perex">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt.
              <div class="date mt-2">4. 8. 2024</div>
            </a>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="topSection__img">
          <img src="images/content/about.png" loading="lazy" alt="about" />
        </div>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-xxl-9">
        <div class="archiveItems" id="articles">
          <div class="archiveItem">
            <div class="archiveItem__content">
              <a href="#" class="p1">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt.
              </a>
              <div class="date mt-2">4. 8. 2024</div>
              <a href="#" class="btn">Celý článek</a>
            </div>
            <div class="archiveItem__img">
              <img src="images/content/about.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="archiveItem">
            <div class="archiveItem__content">
              <a href="#" class="p1">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt.
              </a>
              <div class="date mt-2">4. 8. 2024</div>
              <a href="#" class="btn">Celý článek</a>
            </div>
            <div class="archiveItem__img">
              <img src="images/content/about.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="archiveItem">
            <div class="archiveItem__content">
              <a href="#" class="p1">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt.
              </a>
              <div class="date mt-2">4. 8. 2024</div>
              <a href="#" class="btn">Celý článek</a>
            </div>
            <div class="archiveItem__img">
              <img src="images/content/about.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="archiveItem">
            <div class="archiveItem__content">
              <a href="#" class="p1">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt.
              </a>
              <div class="date mt-2">4. 8. 2024</div>
              <a href="#" class="btn">Celý článek</a>
            </div>
            <div class="archiveItem__img">
              <img src="images/content/about.png" loading="lazy" alt="post" />
            </div>
          </div>
        </div>
       
        <button
          type="button"
          class="btnMore js-fetchHTML"
          data-fetch-url="./_posts.html"
          data-fetch-container="#articles"
          data-fetch-limit="3"
          data-text="Starší články"
          data-text-fetching="Načítám..."
          data-text-error="Omluvte chybu, nepodařilo se načíst další zprávy"
        >
          Starší články
        </button>
      </div>
      <div class="col-xxl-3">
        <aside class="aside">
          <div class="aside__ban">
            <img src="images/content/aside.png" loading="lazy" alt="aside" />
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
 