.archive-section {
  margin-bottom: 200px;
  @include media-breakpoint-down(xxl) {
    margin-bottom: 60px;
  }
  .h1 {
    position: relative;
    z-index: 30;
    max-width: 750px;
    @include media-breakpoint-down(xxl) {
      max-width: 880px;
      margin: 0 auto;
    }
  }
  &__wrapper {
    margin-top: -120px;
    margin-bottom: 80px;
    @include media-breakpoint-down(xxl) {
      margin-bottom: 60px;
      margin-top: 0;
    }
  }
  .topSection__img {
    margin-top: -120px;
    @include media-breakpoint-down(xxl) {
      margin-top: 0;
    }
  }
  .topSection__inner {
    display: flex !important;
    padding-top: 120px;
    @include media-breakpoint-down(xxl) {
      padding-top: 0;
    }
    a.perex {
      text-decoration: none;
      display: block;
    }
  }
  .slick-dots {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 1768px !important;
    margin: 60px auto 0;
    width: 1768px;

    @include media-breakpoint-down(xxl) {
      justify-content: center;
      width: fit-content;
      margin-top: 26px;
    }
    .slick-active button {
      background-color: var(--color-yellow);
      @include media-breakpoint-down(xxl) {
        background-color: var(--color-dark);
      }
    }
    button {
      cursor: pointer;
      font-size: 0;
      background-color: var(--color-border);
      width: 14px;
      height: 14px;
      display: block;
      border-radius: 100%;
      border: none;
    }
  }
}
.archiveItems {
  max-width: 1200px;
  @include media-breakpoint-down(xxl) {
    max-width: 100%;
  }
}
.archiveItem.visible {
  display: flex;
}

.archiveItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--color-border);
  gap: 40px;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding-bottom: 22px;
    margin-bottom: 22px;
  }
  a.p1 {
    text-decoration: none;
  }
  &__img {
    width: 250px;
    min-width: 250px;
    height: 250px;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    max-width: 860px;
  }

  .btn {
    margin-top: 30px;
    @include media-breakpoint-down(lg) {
      font-size: 0;
      background-image: url(../images/ico/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center;
      padding: 4px;
      width: 2rem;
      height: 2rem;
      border-radius: 0;
      position: absolute;
      right: 0px;
      bottom: 0.75rem;
    }
  }
}
 
.btn {
  background-color: var(--color-yellow);
  border: none;
  outline: none;
  border-radius: 4px;
  max-width: 369px;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.3s;
  &:hover {
    background-color: var(--color-yellow);
    text-decoration-color: inherit;
  }
}

.btnMore {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  position: relative;
  padding-right: 54px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 40px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/ico/chevron-down.svg");
  }

  @include media-breakpoint-down(xxl) {
    justify-content: center;
    margin-bottom: 40px;
  }
}
// .btnMore.active {
//   display: none !important;
// }
