.header {
  background-color: var(--color-yellow);
  position: relative;
  z-index: 999;
  &__inner {
    display: flex;
    align-items: center;
    padding: 32px 0;
    justify-content: space-between;
    position: relative;

    @include media-breakpoint-down(xl) {
      padding: 32px 0;
    }
  }
  .logo {
    width: 300px;
    height: 28px;
    display: block;
    @include media-breakpoint-down(lg) {
      height: 18px;
      width: 210px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.headerBtn {
  display: none;
  background-image: url(../images/ico/menu.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-size: contain;
  outline: none;
  border: none;
  background-color: transparent;
  transition: all 0.1s;
  @include media-breakpoint-down(xl) {
    display: block;
  }
  @include media-breakpoint-down(md) {
    width: 18px;
    height: 18px;
  }
}
.is-nav-open .collapse {
  opacity: 1;
  visibility: visible;
  display: block;
}
.is-nav-open .headerBtn {
  background-image: url(../images/ico/close.svg);
}
.collapse {
  @include media-breakpoint-down(xl) {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -24px;
    top: 100%;
    width: calc(100% + 48px);
    z-index: 90;
  }
}
.navbar-nav {
  display: flex;
  align-items: center;
  gap: 60px;
  @include media-breakpoint-down(xxl) {
    gap: 16px 40px;
  }
  @include media-breakpoint-down(xl) {
    flex-direction: column;
    background: rgba(#ffdb01, 0.95);
    align-items: flex-start;
    padding-left: 24px;
    padding-bottom: 32px;

    padding-top: 54px;
  }
  @include media-breakpoint-down(md) {
    height: calc(100vh - 82px);
  }
}

.nav-link {
  font-size: 24px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid var(--color-dark);
  }
  &.active {
    font-weight: 700;
    border-bottom: 2px solid var(--color-dark);
  }
}

.header-search {
  display: flex;
  align-items: center;
  gap: 18px;
  max-width: 372px;

  width: 100%;
  @include media-breakpoint-down(xxl) {
    display: none;
  }
  &__input {
    display: block;
    outline: none;
    height: 54px;
    border-radius: 6px;
    max-width: 336px;
    width: 100%;
    border: 2px solid #c5c5c5;
    padding: 0 16px;
  }
  &__btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s;
    padding: 0;

    &:hover {
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }
}
