<div class="gallery mt-5">
  <h3 class="h3 mb-3">Fotogalerie</h3>
  <ul class="gallery__inner">
    <li>
      <a
        href="#"
        class="gallery__item"
        data-source="/csts/build/ajax-gallery.json"
        data-gallery-id="1"
      >
        <img src="images/content/about.png" loading="lazy" alt="photo" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="gallery__item"
        data-source="/csts/build/ajax-gallery.json"
        data-gallery-id="2"
      >
        <img src="images/content/about.png" loading="lazy" alt="photo" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="gallery__item"
        data-source="/csts/build/ajax-gallery.json"
        data-gallery-id="3"
      >
        <img src="images/content/topstory.png" loading="lazy" alt="photo" />
      </a>
    </li>
    <li>
      <a
        href="#"
        class="gallery__item"
        data-source="/csts/build/ajax-gallery.json"
        data-gallery-id="4"
      >
        <img src="images/content/about.png" loading="lazy" alt="photo" />
        <div class="gallery__item-count">
          +48
          <span> dalších fotek </span>
        </div>
      </a>
    </li>
  </ul>
</div>
