.gallery {
  &__inner {
    display: flex;
    margin-left: -6px;
    margin-right: -6px;
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }
    li {
      max-width: 25%;
      flex: 0 0 25%;
      padding: 0 6px;
      @include media-breakpoint-down(lg) {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 12px;
      }
    }
  }
  &__item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 262/210;
    img {
      width: 100%;
      height: 100%;
      margin: 0;
      object-fit: cover;
    }
  }
  &__item-count {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 500;
    color: #000;
    background: rgba(#ffdb01, 0.75);
    text-align: center;
    line-height: 100%;
    flex-direction: column;
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
    span {
      display: block;
      font-size: 28px;
      line-height: 100%;
      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }
  }
}
