<section class="partners">
  <div class="container">
    <h5 class="h1">Partneři ženského fotbalu</h5>
    <div class="partners__inner">
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-1.png" alt="partner" loading="lazy" />
      </a>
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-2.png" alt="partner" loading="lazy" />
      </a>
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-1.png" alt="partner" loading="lazy" />
      </a>
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-2.png" alt="partner" loading="lazy" />
      </a>
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-1.png" alt="partner" loading="lazy" />
      </a>
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-2.png" alt="partner" loading="lazy" />
      </a>
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-1.png" alt="partner" loading="lazy" />
      </a>
      <a href="#" target="_blank" class="partners__item">
        <img src="images/content/partner-1.png" alt="partner" loading="lazy" />
      </a>
    </div>
  </div>
</section>
