<section class="topstory">
  <a
    href="#"
    class="topstory__item"
    style="background-image: url(./images/content/topstory.png)"
  >
    <div class="container">
      <div class="topstory__content">
        <h1>Výhra v přípravě</h1>
        <p>
          Slávistky v přípravě zdolaly polské mistryně, Sparta remizovala s
          rakouskými
        </p>
      </div>
    </div>
  </a>
  <a
    href="#"
    class="topstory__item"
    style="background-image: url(./images/content/topstory.png)"
  >
    <div class="container">
      <div class="topstory__content">
        <h1>Výhra v přípravě</h1>
        <p>
          Slávistky v přípravě zdolaly polské mistryně, Sparta remizovala s
          rakouskými
        </p>
      </div>
    </div>
  </a>
  <a
    href="#"
    class="topstory__item"
    style="background-image: url(./images/content/topstory.png)"
  >
    <div class="container">
      <div class="topstory__content">
        <h1>Výhra v přípravě</h1>
        <p>
          Slávistky v přípravě zdolaly polské mistryně, Sparta remizovala s
          rakouskými
        </p>
      </div>
    </div>
  </a>
  <a
    href="#"
    class="topstory__item"
    style="background-image: url(./images/content/topstory.png)"
  >
    <div class="container">
      <div class="topstory__content">
        <h1>Výhra v přípravě</h1>
        <p>
          Slávistky v přípravě zdolaly polské mistryně, Sparta remizovala s
          rakouskými
        </p>
      </div>
    </div>
  </a>
</section>
