.topstory__item {
  display: block;
  width: 100%;
  aspect-ratio: 1920/930;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include media-breakpoint-down(lg) {
    aspect-ratio: 375/288;
    background-position: center;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(#000, 0.2);
    width: 100%;
    height: 100%;
  }
}
.topstory {
  position: relative;
  margin-bottom: 200px;
  @include media-breakpoint-down(xxl) {
    margin-bottom: 60px;
  }
  &__content {
    position: absolute;
    bottom: 90px;
    color: var(--color-light);
    max-width: 920px;
    @include media-breakpoint-down(lg) {
      bottom: 40px;
    }
    h1 {
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 22px;
      line-height: 100%;
      @include media-breakpoint-down(lg) {
        font-size: 25px;
        margin-bottom: 4px;
      }
    }
    p {
      font-size: 40px;
      line-height: 48px;
      @include media-breakpoint-down(lg) {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  .slick-dots {
    display: flex;
    align-items: center;
    gap: 24px;
    bottom: 36px;
    max-width: 1768px !important;
    margin: 0 auto;
    width: 1768px;
    right: 0;
    left: 0;
    padding: 0 24px;
    position: absolute;
    @include media-breakpoint-down(lg) {
      bottom: 24px;
      gap: 16px;
    }
    .slick-active button {
      background-color: var(--color-yellow);
    }
    button {
      cursor: pointer;
      font-size: 0;
      background-color: var(--color-light);
      width: 14px;
      height: 14px;
      display: block;
      border-radius: 100%;
      border: none;
      @include media-breakpoint-down(lg) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
