@font-face {
  font-family: "Code-Pro-LC";
  src: url("../fonts/codeprolc.woff2") format("woff2"),
    url("../fonts/codeprolc.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Code-Pro-LC";
  src: url("../fonts/codeprolc-bold.woff2") format("woff2"),
    url("../fonts/codeprolc-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
