:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-yellow: #ffdc02;
  --color-gray: #c5c5c5;
  --color-border: #e5e5e5;

  --color-brand: #5507da;
  --color-dark-brand: #260c60;
  --font-display: "Unbounded", sans-serif;
}
