<section class="clubDetail topSection">
  <div class="container">
    <h1 class="h1 clubDetail__title">
      <img src="images/content/club-1.jpg" alt="logo" /> AC Sparta Praha fotbal
    </h1>

    <div class="row g-5">
      <div class="col-lg-6">
        <h2 class="h5 mb-2">Základní informace</h2>
        <div class="clubDetail__box">
          <div class="clubDetail__box-item">
            <div class="clubDetail__box-title">
              <img src="images/ico/dopis.svg" alt="" /> <span>ID klubu</span>
            </div>
            <ul>
              <li>1070041</li>
            </ul>
          </div>
          <div class="clubDetail__box-item">
            <div class="clubDetail__box-title">
              <img src="images/ico/dopis.svg" alt="" />
              <span> Adresa klubu</span>
            </div>
            <ul>
              <li>Tř. Milady Horákové</li>
              <li>98/1066</li>
              <li>Praha 7</li>
              <li>17000</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="h5 mb-2">Kontakty</h2>
        <div class="clubDetail__box">
          <div class="clubDetail__box-item">
            <div class="clubDetail__box-title">
              <img src="images/ico/mobile.svg" alt="" /> <span>Telefon</span>
            </div>
            <ul>
              <li>296 111 123</li>
            </ul>
          </div>
          <div class="clubDetail__box-item">
            <div class="clubDetail__box-title">
              <img src="images/ico/web.svg" alt="" /> <span>Web</span>
            </div>
            <ul>
              <li>
                <a href="#">www.sparta.cz</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="table-section__inner">
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th>Soutěž</th>
              <th>Jméno soutěže</th>
              <th># Týmů</th>
              <th>Informace k soutěži</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>A2A</td>
              <td><a href="#">1.Celostátní liga dorostu U 19</a></td>
              <td>16</td>
              <td>
                <ul class="table-section__info">
                  <li>
                    <a href="#">Zápasy</a>
                  </li>
                  <li>
                    <a href="#">Tabulka</a>
                  </li>
                  <li>
                    <a href="#">Delegace</a>
                  </li>
                  <li>
                    <a href="#">Statistiky</a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
